@model Security.ViewModels.RegisterCreateViewModel
@{
    ViewData["Title"] = "Registreren";
}

<h4>Registreer</h4>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong>
    You should check in on some of those fields below.
    <ul>
        @foreach (var message in Model.Messages)
        {
            <li>@message</li>
        }
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" asp-area="" asp-controller="Register" asp-action="Create">
    <div class="mb-3">
        <label for="address">Naam</label>
        <input type="text" class="form-control" name="name" placeholder="Henk de Vries" value="@Model.RegisterCreateRequest.Name" required="">
    </div>

    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email" value="@Model.RegisterCreateRequest.Email" required="">
    </div>

    <div class="mb-3">
        <label for="password">Wachtwoord</label>
        <input type="password" class="form-control" name="password">
    </div>

    <div class="mb-3">
        <label for="passwordValidation">Wachtwoordvalidatie</label>
        <input type="password" class="form-control" name="passwordValidation">
    </div>

    <hr class="mb-4" />
    <button class="btn btn-primary btn-lg btn-block" type="submit">Registreren</button>
</form>
