@{
    ViewData["Title"] = "Done!";
}

<h4>Authenticator gekoppeld</h4>
<div class="container">
    <div class="row">
        <p>
            All set! Je dient nu na het inloggen je autenticatie te bevestigen met een MFA-code!
        </p>
    </div>
</div>

