@model Security.ViewModels.AuthenticatorIndexViewModel
@{
    ViewData["Title"] = "MFA activeren";
}

<h4>Authenticator koppelen</h4>
<div class="container">
    <div class="row">
        <p>
            Registeer hier je account en koppel deze met je Google Authenticator!
        </p>
    </div>
    <div class="row">
        <img height="300" width="300" src="@Model.QRCode" />
    </div>
    <div class="row">
        <form method="post" asp-area="" asp-controller="Authenticator" asp-action="Activate">
            <input type="hidden" name="QRSecret" value="@Model.QRSecret" />
            <hr class="mb-4" />
            <button class="btn btn-primary btn-lg btn-block" type="submit">Activeer Google Authenticator</button>
        </form>
    </div>
</div>

