@model Security.ViewModels.LoginLoginViewModel
@{
    ViewData["Title"] = "Registreren";
}

<h4>Registreer</h4>
<form method="post" asp-area="" asp-controller="Login" asp-action="login">
    <div class="mb-3">
        <label for="username">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="@Model.Request.Email" required="">
    </div>

    <div class="mb-3">
        <label for="email">Wachtwoord</label>
        <input type="password" class="form-control" name="password">
    </div>

    <hr class="mb-4" />
    <button class="btn btn-primary btn-lg btn-block" type="submit">Inloggen</button>
</form>
